<div class="-cmp-actions-bar" style="text-align: center">
  <button
    type="button"
    class="app-cl-btn app-cl-primary app-cmd-add-section"
    (click)="addSection()"
  >
    <i class="material-symbols-outlined">add_notes</i>
    Section
  </button>
</div>

<main class="app-cmp-main-container">
  @for (sec of sections; track sec.id; let i = $index) {
    <article class="app-cmp-section">
      <header>
        <button
          type="button"
          class="app-cl-btn app-cl-primary app-cmd-add-number-input"
          (click)="addInput(sec)"
        >
          <i class="material-symbols-outlined">input</i>
          Input
        </button>

        <span style="font-size: 1.2rem; display: inline-flex; align-items: baseline">
          <b
            >Section <span class="app-title-section">{{ i + 1 }}</span></b
          >
        </span>

        <button
          type="button"
          class="app-cl-btn app-cl-warn app-cl-icon app-cmd-remove-section"
          (click)="removeSection(sec.id)"
          [disabled]="sections.length === 1"
        >
          <i class="material-symbols-outlined">delete_forever</i>
        </button>
      </header>

      <div class="app-cl-column-container">
        <section class="app-cmp-number-list">
          @for (inp of sec.inputs; track inp.id; let j = $index) {
            <div class="app-cmp-number">
              <span style="display: inline-flex; align-items: baseline">
                <b
                  >Number <span class="app-title-number">{{ j + 1 }}</span></b
                >
                <input
                  type="number"
                  class="app-inp-number"
                  [value]="inp.value"
                  (input)="updateValue(inp, $any($event.target).valueAsNumber)"
                />
              </span>

              <button
                type="button"
                class="app-cl-btn app-cl-warn app-cl-icon app-cmd-remove-number-input"
                (click)="removeInput(sec, inp.id)"
                [disabled]="sec.inputs.length === 1"
              >
                <i class="material-symbols-outlined">delete_forever</i>
              </button>
            </div>
          }
        </section>

        <section>
          <div class="app-cmp-number">
            <span style="display: inline-flex; align-items: baseline">
              <b>Result</b>
              <output class="app-cl-number app-out-number">
                {{ calculateSum(sec) | number }}
              </output>
            </span>
          </div>
        </section>
      </div>
    </article>
  }
</main>
